.addToCartBtn,
.deleteBtn,
.modifyBtn {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
  flex:content;
}

.productImg{
  width: 100%;
  height: 210px !important;
  object-fit:fill !important;
  padding: 10px 10px 10px 10px;
  border-radius: 10%;
  }

.card {
  border: white;
}

.card-footer {
  margin: 0%;
  padding: 0%;
}