.addToCartBtn,
.deleteBtn,
.modifyBtn {
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 2px;
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.card {
  border: white;
}

.card-footer {
  margin: 0%;
  padding: 0%;
}