.login-card {
    border-radius: 30px;
    background-color: antiquewhite;
    
}

.btn-primary {
    background-color: #e17018;
    border-color: #000;
    border-width: .1px;
    color: #fff;
    border-radius: 10px;
    width: 200px;
    align-self: center;
}

.titulo{
    font-family: gabriela;

}

.etiqueta{
    font-family: mako;

}

::placeholder {
    color: #000;
    font-family: mako;
}
