.mako-regular {
    font-family: "Mako", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  body {
    font-family: 'Gabriela', serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  p {
    font-family: 'Mako', serif;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .about-us {
    max-width: 800px;
    margin: auto;
  }
  
  h1 {
    color: #00745F;
    margin: 30px;
  }
  
  .paragraph {
    color: #000000;
  }
  
  .team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }
  
  .card {
    background-color: #00745F;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card h3 {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .card p {
    margin: 5px 0 15px;
    font-size: 14px;
    color: white;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .card .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .card .icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .card .icons a:hover {
    color: #ddd;
  }