:root {
  --subTitleColor: #00745f;
  --subTitleColor2: #ae7d00;
  --subTitleColor3: #768300;
  --subTitleColor4: #007d3c;
  --subTitleColor5: white;

}

.detallesProducto {
  margin-left: 13%;
  margin-right: 13%;
}

#imgProducto {
  object-fit: contain;
}

#text1 {
  font-family: 'Gabriela', 'serif';
  color: var(--subTitleColor5);

}

#text2 {
  font-family: 'Gabriela', 'serif';
  color: var(--subTitleColor5);
}

#contenedor1 {
  /* background-color: #A5905B; */
  background-color: #A97F3B;
}

#contenedor2 {
  background-color: #00745F;
}

#contenidoProduccion,
#contenidoProducto {
  color: white
}