:root {
  --subTitleColor: #00745f;
  --subTitleColor2: #ae7d00;
  --subTitleColor3: #768300;
  --subTitleColor4: #007d3c;
  --subTitleColor5: white;

}

.detallesProducto {

  margin-left: 13%;
  margin-right: 13%;
}

#text1 {
  font-family: 'Gabriela', 'serif';
  color: var(--subTitleColor5);

}

#text2 {
  font-family: 'Gabriela', 'serif';
  color: var(--subTitleColor5);
}

#contenedor1 {
  /* background-color: #A5905B; */
  background-color: #A97F3B;
}

#contenedor2 {
  background-color: #00745F;
}

#contenidoProduccion,
#contenidoProducto {
  color: white
}

.contador,
.agregar {
  background-color: #E17018;

  border-color: #E17018;
  color: white;
  margin: 15%;
}

.contador:hover {
  background-color: #ae7d00;
  border-color: #A97F3B;
  color: white;
}

.agregar:hover {
  background-color: #ae7d00;
  border-color: #A97F3B;
  color: white;
}


.cantidad {
  margin: 8%;
}

.contador {
  height: 1%;
}