
.titulo-sobre-nosotros{
    color: #00745F;
}

.parrafo-verde{
    color: #368210;
    padding: 0 2rem 0 2rem;
}

.parrafo-mostaza{
    color: #768300;
    padding: 0 2rem 0 2rem;
}

.imagen-ods{
    width: 100px;
    height: 100px;
}