#carrusel-historias .carousel-container{
justify-content: center;
align-items: center;
flex-wrap: nowrap;
width: auto;
margin-top: 15px;
margin-bottom: 15px;
}

#carrusel-historias .carousel-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  width: 60%; /
  height: 200px; 
  object-fit: cover; 
  border-radius: 15px;
}

#carrusel-historias .carousel-main{
  
  background-color: #96C8BF;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  max-width: 60%;
  object-fit: cover;
  object-position: bottom;
}

#carrusel-historias .carousel-left{
  background-color: #DDDA79;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  max-width: 60%;
  object-fit: cover;
  object-position: bottom;

}

#carrusel-historias .carousel-right{
  background-color: #AFC896;
  
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  max-width: 60%;
  object-fit: cover;
  object-position: bottom;
  
}

#carrusel-historias .slide-text{
  position: relative;
  margin-top: 2px;
  padding: 0px 4px 0px 4px;
  font-size: 18px;
  font-family: 'mako', 'sans-serif';
  text-align: center;
  justify-content: center;
  white-space: normal; 
  width: 100%; 
  height: 150px; 
  object-fit: cover; 
}

@media (max-width: 768px) {
  #carrusel-historias .slide-text {
    font-size: 10px;
    height: 100px; 
  }
}

@media (max-width: 480px) {
  #carrusel-historias .slide-text {
    font-size: 8px;
    height: 100px; 
  }
}

#carrusel-historias .subtitulo{
  margin-top: 2px;
  text-decoration: none;
  width: 100%; 
  height: 80px; 
  object-fit: cover; 
} 

@media (max-width: 768px) {
  #carrusel-historias .subtitulo {
    font-size: 14px;
    height: 25px; 
  }
}

@media (max-width: 480px) {
  #carrusel-historias .subtitulo {
    font-size: 10px;
    height: 28px; 
  }
}

#carrusel-historias .custom-arrow {
  font-size: 40px; 
  color: #007D3C; 
}

#carrusel-historias .custom-arrow:hover {
  color: #768300; 
}
