.carousel-container{
justify-content: center;
align-items: center;
flex-wrap: nowrap;
width: auto;
margin-top: 15px;
margin-bottom: 15px;
}


/* Imágenes con tamaño fijo */
.carousel-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  width: 60%; /* Tamaño fijo */
  height: 200px; /* Tamaño fijo */
  object-fit: cover; /* Mantiene proporciones y llena el contenedor */
  border-radius: 15px;
}



.carousel-main{
  
  background-color: #96C8BF;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  max-width: 60%;
  object-fit: cover;
  object-position: bottom;
}

.carousel-left{
  background-color: #DDDA79;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  max-width: 60%;
  object-fit: cover;
  object-position: bottom;

}

.carousel-right{
  background-color: #AFC896;
  
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  width: 60%;
  margin: 0 auto;
  max-width: 60%;
  object-fit: cover;
  object-position: bottom;
  
}
/* .carousel-image{
  display: flex;
  justify-content: center;
  width: 60%;
  height: 60%;
  max-height: 50%;
  margin: auto;
  margin-top: 35px;
  border-radius: 25px;;
} */

.slide-text{
  position: relative;
  margin-top: 2px;
  padding: 0px 4px 0px 4px;
  font-size: 18px;
  font-family: 'mako', 'sans-serif';
  text-align: center;
  justify-content: center;
  white-space: normal; 
  width: 100%; /* Tamaño fijo */
  height: 150px; /* Tamaño fijo */
  object-fit: cover; /* Mantiene proporciones y llena el contenedor */
}

@media (max-width: 768px) {
  .slide-text {
    font-size: 10px;
    height: 100px; /* Tamaño fijo */
  }
}

@media (max-width: 480px) {
  .slide-text {
    font-size: 8px;
    height: 100px; /* Tamaño fijo */
  }
}

.subtitulo{
  margin-top: 2px;
  text-decoration: none;
  width: 100%; /* Tamaño fijo */
  height: 80px; Tamaño fijo
  object-fit: cover; /* Mantiene proporciones y llena el contenedor */
  
} 

@media (max-width: 768px) {
  .subtitulo {
    font-size: 14px;
    height: 25px; Tamaño fijo
  }
}

@media (max-width: 480px) {
  .subtitulo {
    font-size: 10px;
    height: 28px; Tamaño fijo
  }
}


