:root {
	--subTitleColor: #00745f;
	--subTitleColor2: #ae7d00;
}

#logo-footer {
	width: 80px;
	height: 80px;
	margin: 15px 45px 15px 45px;
}

.subTitle {
	font-family: 'Gabriela', 'serif';
	color: var(--subTitleColor);
}

.subTitle2 {
	font-family: 'Mako', 'serif';
	color: var(--subTitleColor2);
	min-height: 3.5rem;
}

.categoryImage {
	border-radius: 30px;
	object-fit: cover;
	aspect-ratio: 1/1;
}

.productImage {
	object-fit: contain;
	aspect-ratio: 1/1;
	border-radius: 30px;
	height: 70%;
}

.productName {
	font-family: 'Mako', 'serif';
}

.comunidad-foto {
	object-fit: cover;
	border-radius: 40px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	aspect-ratio: 2/1;
	width: 80%;
}

.paragraph{
	font-family: "mako", "serif";
	font-size: 1.2rem;
}

.review{
	background-color: blanchedalmond;
	border-radius: 20px;
	padding: 10px;
}

.carrusel-img{
  width: 400px;
  height: 400px;
}

